@page
@model PrivacyModel

<h3>Integritets Policy</h3>
<hr />
<p>Denna sida använder sig av 'cookies', som är en liten textfil för att spara små mängder data, som minns vem som är inloggad på hemsidan.</p>

<p>Vi sparar endast den information om dig som användare, som du själv väljer att ge oss via våra formulär. När du väljer att stänga ned ditt konto hos oss kommer vi att ta bort all den informationen du gett oss om dig.</p>

<p>Huvudsyftet med att spara dina personuppgifter är att kunna ge dig bästa möjliga 'service'. Om vi inte gjorde detta skulle vi inte kunna tillhandahålla våra tjänster.</p>

<p>Vi behåller dina personuppgifter så länge du väljer att ha kvar ditt konto.</p>

<p>Vi använder oss av marknadsmässigt erkända metoder att hålla din information säker, men det finns fortfarande risk att informationen kommer ut, i fall att sidan hackas. Därför är det bäst att inte utelämna mycket känslig information, som kan skada dig som användare, om den skulle läcka ut.</p>

<p>Även du som användare är ansvarig för att bibehålla ditt kontos säkerhet genom att inte avslöja inloggningsuppgifter till obehöriga. Om denna information kommer ut så uppmanar vi er att omedelbart kontakta vår kundtjänst.</p>

<p>Om vår Policy, gällande hur vi behandlar dina personuppgifter, skulle ändras så kommer vi kontakta er via den e-post ni angett.</p>